
footer{
    border: 2px solid;
 }
 
 ul{
     display:  flex;
     list-style: none;
     text-decoration: none;
 }
 
 li{
     margin-left: 2em;
  }
 
 
 svg{
     color: rgb(206, 41, 41);
     height: 25px;
     width: 25px;
  }